@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Days+One&family=Hurricane&family=Lobster&family=Protest+Revolution&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --cor-primaria: #cefffa;
    --branco: #fff;
}

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.pagina{
    background-image: linear-gradient( to right, rgb(187, 187, 187), rgb(87, 87, 87), rgb(62, 62, 62), rgb(43, 43, 43) );
    height: calc(100vh - 130px);
}


.cabecalho{
    display: flex;
    justify-content: space-between;
    color: #f4fffe;
    padding: 20px;
    margin-left: 80px;
    margin-right: 80px;
}

.titulo1 a{
    font-size: 60px;
    color: var(--cor-primaria);
    text-decoration: none;
}

.links{
    display: flex;
    gap: 5px;
}

.links a{
    color: var(--cor-primaria);
    text-decoration: none;
    padding: 1.5rem;
    transform: 1ms ease-in;
    position: relative; /*para realizar o efeito o position tem que poder ser alterado*/
}

/*para realizar a animação em baixo dos links*/
.links a:before{ /*isso siginifica dizer como o container do link era antes da animação*/
    content: ' ';
    position: absolute; /*para realizar o efeito o position tem que ser absolute*/
    bottom: 0;
    left: 0px;
    width: 0px;
    height: 1px;
    background-color: aquamarine;
    transition: all 1.5s ease;
}

.links a:hover:before{
    width: 100%; /*esse hover altera a largura do sublinhado widht de 0 vai pra 100%*/
}

.rodape_pai{
    position: relative;
}

.rodape{
    display: flex;/* inicia o display flex */
    align-items: center;/* alinha os itens na vertical */
    justify-content: center; /* alinha os itens na horizontal */
    gap: 20px; /*Separa os intens */
    color: #fefefe;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.rodape a{
    color: #fefefe;
    text-decoration: none;
}